# Importing Data-Set

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Car details v3.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [3]:
df.shape

(8128, 13)

# Dropping NA Values

In [4]:
df_clean = df.dropna()

In [5]:
df_clean.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [6]:
df_clean.drop_duplicates()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,Petrol,Individual,Manual,Second Owner,18.9 kmpl,998 CC,67.1 bhp,90Nm@ 3500rpm,5.0
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,Diesel,Individual,Manual,Second Owner,22.54 kmpl,1396 CC,88.73 bhp,219.7Nm@ 1500-2750rpm,5.0
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0

# Droping Useless Columns

In [7]:
df_clean.drop(["name","seller_type","torque"],axis=1, inplace=True)

C:\Users\sansk\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
df_clean.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,5.0

# Data Preprocessing

## Converting Owner into int type

In [9]:
df_preprocessing = df_clean.copy()

In [10]:
df_preprocessing.owner.unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [11]:
def Owner_to_int(Value):
    if Value == "First Owner":
        return int(1)
    if Value == "Second Owner":
        return int(2)
    if Value == "Third Owner":
        return int(3)
    if Value == "Fourth & Above Owner":
        return int(4)
    if Value == "Test Drive Car":
        return None

In [12]:
df_preprocessing["owner"] = df_preprocessing.owner.apply(Owner_to_int)

In [13]:
df_preprocessing.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Manual,1.0,23.4 kmpl,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Manual,2.0,21.14 kmpl,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Manual,3.0,17.7 kmpl,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Manual,1.0,23.0 kmpl,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Manual,1.0,16.1 kmpl,1298 CC,88.2 bhp,5.0

In [14]:
df_preprocessing.owner.unique()

array([ 1.,  2.,  3.,  4., nan])

In [15]:
df_preprocessing_Owner =  df_preprocessing.dropna()

In [16]:
df_preprocessing_Owner.owner.unique()

array([1., 2., 3., 4.])

## Converting Mileage into int type

In [17]:
def Mileage_to_int(Value):
    a = str(Value)
    b = a.split(" ")
    return float(b[0])

In [18]:
df_preprocessing_Owner["mileage"] = df_preprocessing_Owner.mileage.apply(Mileage_to_int)

<ipython-input-18-8f731a2ed2a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_preprocessing_Owner["mileage"] = df_preprocessing_Owner.mileage.apply(Mileage_to_int)

In [19]:
df_preprocessing_Owner.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Manual,1.0,23.40,1248 CC,74 bhp,5.0
1,2014,370000,120000,Diesel,Manual,2.0,21.14,1498 CC,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Manual,3.0,17.70,1497 CC,78 bhp,5.0
3,2010,225000,127000,Diesel,Manual,1.0,23.00,1396 CC,90 bhp,5.0
4,2007,130000,120000,Petrol,Manual,1.0,16.10,1298 CC,88.2 bhp,5.0

In [20]:
df_preprocessing_Mileage = df_preprocessing_Owner.copy()

## Converting engine into int type

In [21]:
df_preprocessing_engine = df_preprocessing_Mileage.copy()

In [22]:
def engine_to_int(Value):
    a = str(Value)
    b = a.split(" ")
    return float(b[0])

In [23]:
df_preprocessing_engine["engine"] = df_preprocessing_engine.engine.apply(engine_to_int)

In [24]:
df_preprocessing_engine.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Manual,1.0,23.40,1248.0,74 bhp,5.0
1,2014,370000,120000,Diesel,Manual,2.0,21.14,1498.0,103.52 bhp,5.0
2,2006,158000,140000,Petrol,Manual,3.0,17.70,1497.0,78 bhp,5.0
3,2010,225000,127000,Diesel,Manual,1.0,23.00,1396.0,90 bhp,5.0
4,2007,130000,120000,Petrol,Manual,1.0,16.10,1298.0,88.2 bhp,5.0

## Converting max_power into int type

In [25]:
df_preprocessing_Power = df_preprocessing_engine.copy()

In [26]:
def power_to_int(Value):
    a = str(Value)
    b = a.split(" ")
    return float(b[0])

In [27]:
df_preprocessing_Power["max_power"] = df_preprocessing_Power.max_power.apply(power_to_int)

In [28]:
df_preprocessing_Power.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats
0,2014,450000,145500,Diesel,Manual,1.0,23.40,1248.0,74.00,5.0
1,2014,370000,120000,Diesel,Manual,2.0,21.14,1498.0,103.52,5.0
2,2006,158000,140000,Petrol,Manual,3.0,17.70,1497.0,78.00,5.0
3,2010,225000,127000,Diesel,Manual,1.0,23.00,1396.0,90.00,5.0
4,2007,130000,120000,Petrol,Manual,1.0,16.10,1298.0,88.20,5.0

In [29]:
df_preprocessing_Power.dtypes

year               int64
selling_price      int64
km_driven          int64
fuel              object
transmission      object
owner            float64
mileage          float64
engine           float64
max_power        float64
seats            float64
dtype: object

## Creating Age Column

In [30]:
df_preprocessing_Age = df_preprocessing_Power.copy()

In [31]:
def Age_col(Value):
    a = 2021-Value
    return a

In [32]:
df_preprocessing_Age["Age"] = df_preprocessing_Age.year.apply(Age_col)

In [33]:
df_preprocessing_Age.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats,Age
0,2014,450000,145500,Diesel,Manual,1.0,23.40,1248.0,74.00,5.0,7
1,2014,370000,120000,Diesel,Manual,2.0,21.14,1498.0,103.52,5.0,7
2,2006,158000,140000,Petrol,Manual,3.0,17.70,1497.0,78.00,5.0,15
3,2010,225000,127000,Diesel,Manual,1.0,23.00,1396.0,90.00,5.0,11
4,2007,130000,120000,Petrol,Manual,1.0,16.10,1298.0,88.20,5.0,14

In [34]:
df_preprocessing_Age.drop(["year"], axis=1, inplace=True)

In [35]:
df_preprocessing_Age.head()

,selling_price,km_driven,fuel,transmission,owner,mileage,engine,max_power,seats,Age
0,450000,145500,Diesel,Manual,1.0,23.40,1248.0,74.00,5.0,7
1,370000,120000,Diesel,Manual,2.0,21.14,1498.0,103.52,5.0,7
2,158000,140000,Petrol,Manual,3.0,17.70,1497.0,78.00,5.0,15
3,225000,127000,Diesel,Manual,1.0,23.00,1396.0,90.00,5.0,11
4,130000,120000,Petrol,Manual,1.0,16.10,1298.0,88.20,5.0,14

In [36]:
df_preprocessing_Age.Age.unique()

array([ 7, 15, 11, 14,  4, 20, 10,  8, 16, 12,  5,  9, 19,  6,  3,  2, 13,
        1, 22, 21, 18, 17, 27, 23, 24, 26, 25], dtype=int64)

In [37]:
df_preprocessing_Age.seats.unique()

array([ 5.,  4.,  7.,  8.,  6.,  9., 10., 14.,  2.])

## Checking Outlier

In [38]:
df_preprocessing_Outlier = df_preprocessing_Age.copy()

In [39]:
df_preprocessing_Outlier_age =  df_preprocessing_Outlier[(df_preprocessing_Outlier.Age < 20)]

In [40]:
df_preprocessing_Outlier_age.Age.unique()

array([ 7, 15, 11, 14,  4, 10,  8, 16, 12,  5,  9, 19,  6,  3,  2, 13,  1,
       18, 17], dtype=int64)

In [41]:
df_preprocessing_Outlier_seats =  df_preprocessing_Outlier_age[(df_preprocessing_Outlier_age.seats < 9)]

In [42]:
df_preprocessing_Outlier_seats.seats.unique()

array([5., 7., 8., 4., 6., 2.])

## One Hot Encoding

In [43]:
df_preprocessing_Outlier_Encoding = pd.get_dummies(df_preprocessing_Outlier_seats)

In [44]:
df_preprocessing_Outlier_Encoding.head()

,selling_price,km_driven,owner,mileage,engine,max_power,seats,Age,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual
0,450000,145500,1.0,23.40,1248.0,74.00,5.0,7,0,1,0,0,0,1
1,370000,120000,2.0,21.14,1498.0,103.52,5.0,7,0,1,0,0,0,1
2,158000,140000,3.0,17.70,1497.0,78.00,5.0,15,0,0,0,1,0,1
3,225000,127000,1.0,23.00,1396.0,90.00,5.0,11,0,1,0,0,0,1
4,130000,120000,1.0,16.10,1298.0,88.20,5.0,14,0,0,0,1,0,1

# Spliting Data into Test and Train

In [45]:
X = df_preprocessing_Outlier_Encoding.drop(["selling_price"], axis=1)

In [46]:
X.head()

,km_driven,owner,mileage,engine,max_power,seats,Age,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual
0,145500,1.0,23.40,1248.0,74.00,5.0,7,0,1,0,0,0,1
1,120000,2.0,21.14,1498.0,103.52,5.0,7,0,1,0,0,0,1
2,140000,3.0,17.70,1497.0,78.00,5.0,15,0,0,0,1,0,1
3,127000,1.0,23.00,1396.0,90.00,5.0,11,0,1,0,0,0,1
4,120000,1.0,16.10,1298.0,88.20,5.0,14,0,0,0,1,0,1

In [47]:
y = df_preprocessing_Outlier_Encoding.selling_price
y.head()

0    450000
1    370000
2    158000
3    225000
4    130000
Name: selling_price, dtype: int64

In [48]:
X.shape

(7744, 13)

In [49]:
y.shape

(7744,)

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state= 50)

In [52]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6195, 13)
(1549, 13)
(6195,)
(1549,)

# k fold cross validation

In [129]:
from sklearn.model_selection import cross_val_score

## Loading Different Algorithm

In [130]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

## Fit our train and test data into model

In [131]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)

DecisionTreeRegressor()

In [157]:
cvs = cross_val_score(dtr, X_train, y_train, cv=10)
cvs 
print(f"My Average score is :- {cvs.mean()} on training Data")

My Average score is :- 0.9377112245638021 on training Data

In [158]:
cvs = cross_val_score(dtr, X_test, y_test, cv=10)
cvs
print(f"My Average score is :- {cvs.mean()} on tesing Data")

My Average score is :- 0.8884790627948902 on tesing Data

# Doing Prediction

In [159]:
X.head()

,km_driven,owner,mileage,engine,max_power,seats,Age,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,transmission_Automatic,transmission_Manual
0,145500,1.0,23.40,1248.0,74.00,5.0,7,0,1,0,0,0,1
1,120000,2.0,21.14,1498.0,103.52,5.0,7,0,1,0,0,0,1
2,140000,3.0,17.70,1497.0,78.00,5.0,15,0,0,0,1,0,1
3,127000,1.0,23.00,1396.0,90.00,5.0,11,0,1,0,0,0,1
4,120000,1.0,16.10,1298.0,88.20,5.0,14,0,0,0,1,0,1

In [174]:
user_km_driver = int(input("Enter How Many Km Driven Car You Want :- "))
user_owner = float(input("How Many Owner :- "))
user_mileage = float(input("Mileage in kmpl :- "))
user_engine = float(input("How Many CC Car You Want :-"))
user_power = float(input("Enter BHP :- "))
user_seats = float(input("How Many Seats You Want :- "))
user_age = int(input("How old :- "))
user_fuel = input("1.CNG \n2.Diesel \n3.LPG \n4.Petrol \nEnter Here :- ")
user_transmission = input("1.Automatic \n2.Manual \nEnter Here :- ")

if user_fuel == "CNG":
    if user_transmission == "Automatic":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,1,0,0,0,1,0]
    if user_transmission == "Manual":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,1,0,0,0,0,1]
if user_fuel == "Diesel":
    if user_transmission == "Automatic":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,1,0,0,1,0]
    if user_transmission == "Manual":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,1,0,0,0,1]
if user_fuel == "LPG":
    if user_transmission == "Automatic":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,0,1,0,1,0]
    if user_transmission == "Manual":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,0,1,0,0,1]
if user_fuel == "Petrol":
    if user_transmission == "Automatic":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,0,0,1,1,0]
    if user_transmission == "Manual":
        preditcion = [user_km_driver,user_owner,user_mileage,user_engine,user_power,user_seats,user_age,0,0,0,1,0,1]

Enter How Many Km Driven Car You Want :- 35000
How Many Owner :- 2
Mileage in kmpl :- 27.28
How Many CC Car You Want :-1047
Enter BHP :- 69
How Many Seats You Want :- 5
How old :- 5
1.CNG
2.Diesel
3.LPG
4.Petrol
Enter Here :- Diesel
1.Automatic
2.Manual
Enter Here :- Manual

In [175]:
Predict_Price = dtr.predict([preditcion])

In [182]:
print(f"The Price of an car is :- {int(Predict_Price)} Rs")

The Price of an car is :- 400000 Rs

In [189]:
import joblib

In [190]:
joblib.dump(dtr, "model_in_joblib")

['model_in_joblib']

In [191]:
%pwd

'C:\\Users\\sansk\\Car_Price_Prediction_Project'